# create local copy of this file and rename to .env.local
# make sure to add .env.local to .gitignore!!
MONGO_URI={mongodb+srv://<garrett_db_user>:<sgjiV0n4CRhR1vAQ>@team18.wgma6ph.mongodb.net/?appName=team18}   